.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: background-color 2s;
}

.ex-1-square:hover {
    background-color: red;
}

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s;
}

.ex-2-square:active {
    width: 100%;
}

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: border-radius 1.1s;
}

.ex-3-square:hover {
    border-radius: 50%;
}

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: background-color 1.3s;
}

.ex-4-square:hover {
    background-color: transparent;
}

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: all 1.5s;
}

.ex-5-square:hover {
    width: 120px;
    height: 120px;
    margin: -1.5%;
}

.ex-5-square:active {
    width: 30px;
    height: 30px;
    margin: 3.5%;
}

.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.ex-6-img:hover {
    filter: grayscale(4)
}

.ex-7-img {
    transition: all 2s;
}

.ex-7-img:hover {
    filter: saturate(80%);
    filter: grayscale(95%);
}

.ex-8-img {
    transition: all 2s;
}

.ex-8-img:hover {
    border-radius: 15px;
    filter: brightness(100%);
    filter: grayscale(80%);
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition: all 2s;
}

.ex-9-img:hover {
    border-radius: 15px;
    transform: scale(1.5);
}
.ex-10-icon {
    font-size: 60px;
    animation-name: rotation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(-36deg);
    }

    20% {
        transform: rotate(-72deg);
    }

    30% {
        transform: rotate(-108deg);
    }

    40% {
        transform: rotate(-144deg)
    }

    50% {
        transform: rotate(-180deg);
    }

    60% {
        transform: rotate(-216deg);
    }

    70% {
        transform: rotate(-252deg) ;
    }

    80% {
        transform: rotate(-288deg);
    }

    90% {
        transform: rotate(-324deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}
.ex-11-icon {
    font-size: 60px;
}
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
